<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.so.love.service.dao.read.SoLoveAreaReadDao">
	
	<resultMap id="BaseResultMap" type="com.wang.so.love.service.entity.SoLoveAreaEntity">
		<id column="areaID" property="areaID" jdbcType="INTEGER" />
		<result column="areaCode" property="areaCode" jdbcType="INTEGER" />
		<result column="areaName" property="areaName" jdbcType="VARCHAR" />
		<result column="shortName" property="shortName" jdbcType="VARCHAR" />
		<result column="areaLevel" property="areaLevel" jdbcType="INTEGER" />
		<result column="parentID" property="parentID" jdbcType="INTEGER" />
		<result column="isDelete" property="isDelete" jdbcType="VARCHAR" />
		<result column="isCurrent" property="isCurrent" jdbcType="VARCHAR" />
		<result column="sortNum" property="sortNum" jdbcType="INTEGER" />
		<result column="theNote" property="theNote" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="getAllColumn">
		areaID, areaCode, areaName, shortName, areaLevel, 
		parentID, isDelete, isCurrent, sortNum, theNote
	</sql>
	
	<select id="getAreaListByParentID" resultMap="BaseResultMap">
		select
			<include refid="getAllColumn"/>
		from solove_area
		where parentID = #{parentID, jdbcType=INTEGER}
	</select>
	
</mapper>
