<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.so.love.service.dao.write.SoLoveParentInfoWriteDao">
	
	<resultMap id="BaseResultMap" type="com.wang.so.love.service.entity.SoLoveParentInfoEntity">
		<id column="parentID" property="parentID" jdbcType="INTEGER" />
		<result column="userID" property="userID" jdbcType="INTEGER" />
		<result column="parentRelation" property="parentRelation" jdbcType="VARCHAR" />
		<result column="parentAge" property="parentAge" jdbcType="INTEGER" />
		<result column="parentRecommend" property="parentRecommend" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="getAllColumn">
		parentID, userID, parentRelation, parentAge, parentRecommend
	</sql>
	
	<insert id="insertParentInfo" parameterType="com.wang.so.love.service.param.SoLoveParentInfoParam">
		insert into solove_parentInfo (
			userID, cparentRelation, parentAge, parentRecommend
		) values (
			#{userID}, #{parentRelation}, #{parentAge}, #{parentRecommend}
		)
	</insert>
	
	<update id="updateParentInfo" parameterType="com.wang.so.love.service.param.SoLoveParentInfoParam">
		update solove_parentInfo set 
			parentRelation=#{parentRelation}, parentAge=#{parentAge}, 
			parentRecommend=#{parentRecommend}
		where parentID = #{parentID ,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteParentInfo">
		delete from solove_parentInfo where parentID = #{parentID ,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteUserParent">
		delete from solove_parentInfo where userID = #{userID ,jdbcType=INTEGER}
	</delete>
	
</mapper>
